[Desktop Entry]
Name=zap
StartupWMClass=ZAP
Encoding=UTF-8
Exec=shell-rocket -c "nohup nix-shell -p zap --command 'zap; return'"
Icon=athena-zaproxy
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-06-web-application-proxies;001-identify;
X-Nix-Package=zap
StartupWMClass=OWASP ZAP
