[Desktop Entry]
Name=grokevt-addlog
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p grokevt --command 'grokevt-addlog -h; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=11-08-forensic-suites;003-detect;
X-Nix-Package=grokevt
