[Desktop Entry]
Name=xplico start
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p xplico --command 'sudo systemctl start xplico && systemctl --no-pager status xplico; return'"
Icon=athena-xplico
StartupNotify=false
Terminal=false
Type=Application
Categories=14-12-xplico-service;14-services;
X-Nix-Package=xplico
