[Desktop Entry]
Name=macchanger
Comment=MAC Changer
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p macchanger --command 'macchanger -h; return'"
Icon=athena-macchanger
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing;
X-Nix-Package=macchanger
