[Desktop Entry]
Name=voiphopper
Comment=Runs a VLAN hop security test
Exec=cyber-shell -b voiphopper
Icon=athena-voiphopper
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-voip;red-voip-tools;
X-Athena-Package=voiphopper
