[Desktop Entry]
Name=gospider
Comment=Fast web spider written in Go
Exec=cyber-shell -b gospider -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-scanning
X-Athena-Package=gospider
