[Desktop Entry]
Name=darkstat
Comment=Network statistics gatherer
Exec=cyber-shell -b darkstat
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-sniffing
X-Athena-Package=darkstat
