[Desktop Entry]
Name=wpscan
Comment=WordPress Security Scanner
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p wpscan --command 'wpscan --help; return'"
Icon=athena-wpscan
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-01-cms-identification;03-05-web-vulnerability-scanners;
X-Nix-Package=wpscan
