[Desktop Entry]
Name=clang
Comment=The Clang C, C++, and Objective-C compiler
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p clang --command 'clang --help; return'"
Icon=athena-clang
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-Nix-Package=clang
