[Desktop Entry]
Name=mdb-sql
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p mdbtools --command 'mdb-sql -h; return'"
Icon=athena-mdb-sql
StartupNotify=false
Terminal=false
Type=Application
Categories=04-database-assessment;
X-Nix-Package=mdbtools
