[Desktop Entry]
Name=galleta
Comment=Tool to extract information from MSIE cookie files
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p galleta --command 'galleta; return'"
Icon=athena-galleta
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;004-respond;
X-Nix-Package=galleta
