[Desktop Entry]
Name=xfreerdp
Encoding=UTF-8
Exec=cyber-shell -b xfreerdp -p freerdp
Icon=athena-pth
StartupNotify=false
Terminal=false
Type=Application
Categories=red-pass-hash;
X-Athena-Package=freerdp
