[Desktop Entry]
Name=radare2
Comment=Advanced commandline hexadecimal editor, disassembler and debugger
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p radare2 --command 'radare2 -h; return'"
Icon=athena-radare2
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-Nix-Package=radare2
