[Desktop Entry]
Name=maryam
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p maryam --command 'maryam -h; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=001-identify;
X-Nix-Package=maryam
