[Desktop Entry]
Name=subfinder
Comment=subdomain discovery tool
Exec=cyber-shell -b subfinder -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-scanning
X-Athena-Package=subfinder
