[Desktop Entry]
Name=hashrat
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p hashrat --command 'hashrat --help; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=004-respond;
X-Nix-Package=hashrat
