[Desktop Entry]
Name=ike-scan
Comment=Discover and fingerprint IKE hosts (IPsec VPN servers)
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p ike-scan --command 'ike-scan -h; return'"
Icon=athena-ike-scan
StartupNotify=false
Terminal=false
Type=Application
Categories=01-info-gathering;
X-Nix-Package=ike-scan
