[Desktop Entry]
Name=hydra
Comment=A very fast network logon cracker which supports many different services
Encoding=UTF-8
# grep is used to highlight the supported services before running the wizard
Exec=shell-rocket -c "nix-shell -p thc-hydra --command \"hydra | grep --color=auto '^\\|Supported services:'; hydra-wizard.sh; return\""
Icon=athena-hydra
StartupNotify=false
Terminal=false
Type=Application
Categories=05-password-attacks;05-01-online-attacks;
X-Nix-Package=thc-hydra
