[Desktop Entry]
Name=pth-wmic
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p pth-toolkit --command 'pth-wmic -h; return'"
Icon=athena-pth
StartupNotify=false
Terminal=false
Type=Application
Categories=05-04-pass-hash;
X-Nix-Package=pth-toolkit
