[Desktop Entry]
Name=reaver
Comment=WPS Cracker
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p reaverwps-t6x --command 'reaver; return'"
Icon=athena-reaver
StartupNotify=false
Terminal=false
Type=Application
Categories=06-wireless-attacks;
X-Nix-Package=reaverwps-t6x
