[Desktop Entry]
Name=ifind
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p sleuthkit --command 'ifind; return'"
Icon=athena-ifind
StartupNotify=false
Terminal=false
Type=Application
Categories=11-08-forensic-suites;
X-Nix-Package=sleuthkit
