[Desktop Entry]
Name=ssdeep
Comment=Computes context triggered piecewise hashes (fuzzy hashes)
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p ssdeep --command 'ssdeep -h; return'"
Icon=athena-ssdeep
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;
X-Nix-Package=ssdeep
