[Desktop Entry]
Name=spiderfoot-cli
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p spiderfoot --command 'spiderfoot-cli --help; return'"
Icon=athena-spiderfoot
StartupNotify=false
Terminal=false
Type=Application
Categories=01-07-osint-analysis;001-identify;
X-Nix-Package=spiderfoot
