[Desktop Entry]
Name=nipper
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p nipper --command 'nipper --help; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=001-identify;
X-Nix-Package=nipper
