[Desktop Entry]
Name=caido
Encoding=UTF-8
Exec=shell-rocket -c "nohup nix-shell -p caido --command 'caido; return'"
Icon=athena-caido
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-06-web-application-proxies;
X-Athena-Package=caido
StartupWMClass=caido-StartCaido
