[Desktop Entry]
Name=medusa
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p medusa --command 'medusa -h; return'"
Icon=athena-medusa
StartupNotify=false
Terminal=false
Type=Application
Categories=05-password-attacks;05-01-online-attacks;
X-Nix-Package=medusa
