[Desktop Entry]
Name=eyewitness
Comment=Rapid web application triage tool
Exec=cyber-shell -b eyewitness
Icon=athena-eyewitness
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-reporting-tools
X-Athena-Package=eyewitness
