[Desktop Entry]
Name=whatweb
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p whatweb --command 'whatweb -h; return'"
Icon=athena-whatweb
StartupNotify=false
Terminal=false
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Nix-Package=whatweb
