[Desktop Entry]
Name=ssldump
Comment=Dump SSL traffic on a network
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p ssldump --command 'ssldump -h; return'"
Icon=athena-ssldump
StartupNotify=false
Terminal=false
Type=Application
Categories=01-13-ssl-analysis;
X-Nix-Package=ssldump
