[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Auto Wordlists
Icon=kali-wordlists
Exec=shell-rocket "if test -d /usr/share/payloads/Auto_Wordlists --command 'then cd /usr/share/payloads/Auto_Wordlists;$SHELL --command 'else echo \\"Auto Wordlists not found. I'm retrieving it for you...\\" --command 'sudo pacman -S --noconfirm athena-auto-wordlists --command 'cd /usr/share/payloads/Auto_Wordlists;$SHELL;fi;"
Terminal=false
Categories=Tags;describing;application;utility
