[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FuzzDB
Icon=kali-ike-scan
Exec=shell-rocket "if test -d /usr/share/payloads/fuzzdb --command 'then cd /usr/share/payloads/fuzzdb;$SHELL --command 'else echo \\"FuzzDB not found. I'm retrieving it for you...\\" --command 'sudo pacman -S --noconfirm athena-fuzzdb --command 'cd /usr/share/payloads/fuzzdb;$SHELL;fi;"
Terminal=false
Categories=Tags --command 'describing --command 'application --command 'utility
