[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FuzzDB
Icon=kali-ike-scan
Exec=shell-rocket "if test -d /run/current-system/sw/share/wordlists/fuzzdb; then cd /run/current-system/sw/share/wordlists/fuzzdb;$SHELL; else shell-rocket \"nix-shell -p fuzzdb --command 'cd /run/current-system/sw/share/wordlists/fuzzdb; return'\""
Terminal=false
Categories=Tags;describing;application;utility