[Desktop Entry]
Name=netmask
Comment=A netmask generation and conversion program
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p netmask --command 'netmask -h; return'"
Icon=kali-netmask
StartupNotify=false
Terminal=false
Type=Application
Categories=01-08-route-analysis;
X-Nix-Package=netmask
