[Desktop Entry]
Name=mimikatz
Encoding=UTF-8
Exec=shell-rocket "if test -d /run/current-system/sw/share/mimikatz; then cd /run/current-system/sw/share/mimikatz;$SHELL; else shell-rocket \"nix-shell -p mimikatz --command 'cd /run/current-system/sw/share/mimikatz; return'\""
Icon=kali-mimikatz
StartupNotify=false
Terminal=false
Type=Application
Categories=10-maintaining-access;05-04-pass-hash;
X-Nix-Package=mimikatz
