[Desktop Entry]
Name=blkstat
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p sleuthkit --command 'blkstat; return'"
Icon=kali-blkstat
StartupNotify=false
Terminal=false
Type=Application
Categories=11-08-forensic-suites;
X-Nix-Package=sleuthkit
