[Desktop Entry]
Name=responder
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p responder --command 'responder -h; return'"
Icon=kali-responder
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing;
X-Nix-Package=responder
