[Desktop Entry]
Name=rkhunter
Comment=RootKit Hunter
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p rkhunter --command 'rkhunter -h; return'"
Icon=kali-rkhunter
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;004-respond;
X-Nix-Package=rkhunter
