[Desktop Entry]
Name=chkrootkit
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p chkrootkit --command 'chkrootkit -h; return'"
Icon=kali-chkrootkit
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;
X-Nix-Package=chkrootkit
