[Desktop Entry]
Name=udptunnel
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p udptunnel --command 'udptunnel -h; return'"
Icon=kali-udptunnel
StartupNotify=false
Terminal=false
Type=Application
Categories=10-02-tunneling;
X-Nix-Package=udptunnel
