[Desktop Entry]
Name=srch_strings
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p sleuthkit --command 'srch_strings -h; return'"
Icon=kali-srch-string
StartupNotify=false
Terminal=false
Type=Application
Categories=11-08-forensic-suites;
X-Nix-Package=sleuthkit
