[Desktop Entry]
Name=crunch
Comment=Generate wordlists from a character set
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p crunch --command 'crunch; return'"
Icon=kali-crunch
StartupNotify=false
Terminal=false
Type=Application
Categories=05-password-attacks;05-05-profile;
X-Nix-Package=crunch
