[Desktop Entry]
Name=xplico stop
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p xplico --command 'sudo systemctl stop xplico && systemctl --no-pager status xplico; return'"
Icon=kali-xplico
StartupNotify=false
Terminal=false
Type=Application
Categories=14-12-xplico-service;
X-Nix-Package=xplico
