[Desktop Entry]
Name=sslyze
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p sslyze --command 'sslyze -h; return'"
Icon=kali-sslyze
StartupNotify=false
Terminal=false
Type=Application
Categories=01-13-ssl-analysis;
X-Nix-Package=sslyze
