[Desktop Entry]
Name=theharvester
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p theharvester --command 'theHarvester -h; return'"
Icon=kali-theharvester
StartupNotify=false
Terminal=false
Type=Application
Categories=01-07-osint-analysis;
X-Nix-Package=theharvester
