[Desktop Entry]
Name=mac-robber
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p mac-robber --command 'mac-robber; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=004-respond;
X-Nix-Package=mac-robber
