[Desktop Entry]
Name=ophcrack
Comment=A Microsoft Windows password cracker using rainbow tables.
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p ophcrack --command 'ophcrack; return'"
Icon=kali-ophcrack
StartupNotify=false
Terminal=false
Type=Application
Categories=05-02-offline-attacks;
X-Nix-Package=ophcrack
