[Desktop Entry]
Name=wafw00f
Comment=Identify and fingerprint Web Application Firewall products
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p wafw00f --command 'wafw00f -h; return'"
Icon=kali-wafw00f
StartupNotify=false
Terminal=false
Type=Application
Categories=01-03-ids-ips-identification;
X-Nix-Package=wafw00f
