[Desktop Entry]
Name=sentrypeer
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p sentrypeer --command 'sentrypeer -h; return'"
Icon=kali-sentrypeer
StartupNotify=false
Terminal=false
Type=Application
Categories=003-detect;
X-Nix-Package=sentrypeer
