[Desktop Entry]
Name=voiphopper
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p voiphopper --command 'voiphopper; return'"
Icon=kali-voiphopper
StartupNotify=false
Terminal=false
Type=Application
Categories=02-03-voip-tools;
X-Nix-Package=voiphopper
