[Desktop Entry]
Name=burpsuite
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p burpsuite --command 'nohup burpsuite; return'"
Icon=kali-burpsuite
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-06-web-application-proxies;
X-Nix-Package=burpsuite
StartupWMClass=burp-StartBurp
