[Desktop Entry]
Name=powersploit
Encoding=UTF-8
Exec=shell-rocket "if test -d /run/current-system/sw/share/powersploit; then cd /run/current-system/sw/share/powersploit;$SHELL; else shell-rocket \"nix-shell -p powersploit --command 'cd /run/current-system/sw/share/powersploit; return'\""
Icon=kali-powersploit
StartupNotify=false
Terminal=false
Type=Application
Categories=10-01-os-backdoors;10-maintaining-access;
X-Nix-Package=powersploit
