[Desktop Entry]
Name=dirbuster
Encoding=UTF-8
Exec=shell-rocket "nohup nix-shell -p dirbuster --command 'dirbuster; return'"
Icon=kali-dirbuster
StartupNotify=false
Terminal=false
Type=Application
Categories=03-04-web-crawlers;
X-Nix-Package=dirbuster
StartupWMClass=com-sittinglittleduck-DirBuster-Start
