[Desktop Entry]
Name=laudanum
Encoding=UTF-8
Exec=shell-rocket -c "if test -d /run/current-system/sw/share/laudanum; then cd /run/current-system/sw/share/laudanum; else sudo sed -i 's/#laudanum/laudanum/g' /etc/nixos/hosts/software/default.nix; sudo nixos-rebuild switch; cd /run/current-system/sw/share/laudanum;fi;"
Icon=kali-laudanum
StartupNotify=false
Terminal=false
Type=Application
Categories=10-03-web-backdoors;
X-Nix-Package=laudanum
