[Desktop Entry]
Name=unix-privesc-check
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p unix-privesc-check --command 'unix-privesc-check; return'"
Icon=kali-unix-privesc-check
StartupNotify=false
Terminal=false
Type=Application
Categories=02-vulnerability-analysis;
X-Nix-Package=unix-privesc-check
