[Desktop Entry]
Name=NASM
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p metasploit --command 'nasm; return'"
Icon=kali-metasploit-framework
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-Nix-Package=metasploit
