[Desktop Entry]
Name=ghidra
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p ghidra --command 'ghidra; return'"
Icon=kali-ghidra
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;004-respond;
X-Nix-Package=ghidra
StartupWMClass=ghidra-Ghidra
