[Desktop Entry]
Name=ext3grep
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p ext3grep --command 'ext3grep -h; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=11-05-forensic-carving-tools;005-recover;
X-Nix-Package=ext3grep
