[Desktop Entry]
Name=rsmangler
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p rsmangler --command 'rsmangler -h; return'"
Icon=kali-rsmangler
StartupNotify=false
Terminal=false
Type=Application
Categories=05-05-profile;
X-Nix-Package=rsmangler
