[Desktop Entry]
Name=cryptsetup
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p cryptsetup --command 'cryptsetup --help; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=002-protect;
X-Nix-Package=cryptsetup
