[Desktop Entry]
Name=ptunnel
Comment=Tunnel TCP connections over ICMP echo request/reply packets.
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p ptunnel --command 'ptunnel -h; return'"
Icon=kali-ptunnel
StartupNotify=false
Terminal=false
Type=Application
Categories=10-02-tunneling;
X-Nix-Package=ptunnel
