[Desktop Entry]
Name=extundelete
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p extundelete --command 'extundelete --help; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=11-05-forensic-carving-tools;005-recover;
X-Nix-Package=extundelete
