[Desktop Entry]
Name=truecrack
Comment=Brute-force password cracker for TrueCrypt (Copyright) volumes.
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p truecrack --command 'truecrack -h; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=05-02-offline-attacks;
X-Nix-Package=truecrack
