[Desktop Entry]
Name=snmp-check
Comment=Check hosts SNMP access
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p snmpcheck --command 'snmpcheck-nothink -h; return'"
Icon=kali-snmp-check
StartupNotify=false
Terminal=false
Type=Application
Categories=01-12-snmp-analysis;
X-Nix-Package=snmpcheck
