[Desktop Entry]
Name=dnschef
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p dnschef --command 'dnschef -h; return'"
Icon=kali-dnschef
StartupNotify=false
Terminal=false
Type=Application
Categories=09-02-network-spoofing;09-01-network-sniffers;
X-Nix-Package=dnschef
