[Desktop Entry]
Name=weevely
Comment=Weaponized web shell
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p weevely --command 'weevely terminal -h; return'"
Icon=kali-weevely
StartupNotify=false
Terminal=false
Type=Application
Categories=10-03-web-backdoors;10-maintaining-access;
X-Nix-Package=weevely
