[Desktop Entry]
Name=commix
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p commix --command 'commix --wizard; return'"
Icon=kali-commix
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;
X-Nix-Package=commix
