[Desktop Entry]
Name=scrounge-ntfs
Comment=Helps retrieve data from corrupted NTFS partitions
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p scrounge-ntfs --command 'scrounge-ntfs -h; return'"
Icon=kali-scrounge-ntfs
StartupNotify=false
Terminal=false
Type=Application
Categories=11-05-forensic-carving-tools;005-recover;
X-Nix-Package=scrounge-ntfs
