[Desktop Entry]
Name=witnessme
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p python-witnessme --command 'witnessme -h; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=001-identify;
X-Nix-Package=python-witnessme
