[Desktop Entry]
Name=hashdeep
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p hashdeep --command 'hashdeep -h; return'"
Icon=kali-hashdeep
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;
X-Nix-Package=hashdeep
