[Desktop Entry]
Name=zap
StartupWMClass=ZAP
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p zap --command 'nohup zaproxy; return'"
Icon=kali-zaproxy
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-06-web-application-proxies;001-identify;
X-Nix-Package=zaproxy
StartupWMClass=OWASP ZAP
