[Desktop Entry]
Name=sslsplit
Comment=Transparent SSL/TLS interception
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p sslsplit --command 'sslsplit -h; return'"
Icon=kali-sslsplit
StartupNotify=false
Terminal=false
Type=Application
Categories=09-02-network-spoofing;
X-Nix-Package=sslsplit
