[Desktop Entry]
Name=exe2hex
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p exe2hexbat --command 'exe2hex; return'"
Icon=kali-exe2hexbat
StartupNotify=false
Terminal=false
Type=Application
Categories=10-02-tunneling;10-maintaining-access;
X-Nix-Package=exe2hexbat
