[Desktop Entry]
Name=bulk_extractor
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p bulk_extractor --command 'bulk_extractor -h; return'"
Icon=kali-bulk-extractor
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;
X-Nix-Package=bulk_extractor
