[Desktop Entry]
Name=powersploit
Encoding=UTF-8
Exec=shell-rocket -c "if test -d /run/current-system/sw/share/windows/powersploit; then cd /run/current-system/sw/share/windows/powersploit;$SHELL; else sudo sed -i 's/#powersploit/powersploit/g' /etc/nixos/hosts/software/default.nix; sudo nixos-rebuild switch; cd /run/current-system/sw/share/windows/powersploit;$SHELL;fi"
Icon=kali-powersploit
StartupNotify=false
Terminal=false
Type=Application
Categories=10-01-os-backdoors;10-maintaining-access;
X-Nix-Package=powersploit
