[Desktop Entry]
Name=affcat
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p affcat --command 'affcat -h'"
Icon=kali-affcat
StartupNotify=false
Terminal=false
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Nix-Package=afflib
