[Desktop Entry]
Name=hashcat
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p hashcat --command 'hashcat --help; return'"
Icon=kali-hashcat
StartupNotify=false
Terminal=false
Type=Application
Categories=05-02-offline-attacks;05-password-attacks;
X-Nix-Package=hashcat
