[Desktop Entry]
Name=pixiewps
Comment=Offline Wi-Fi Protected Setup bruteforce tool
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p pixiewps --command 'pixiewps -h; return'"
Icon=kali-pixiewps
StartupNotify=false
Terminal=false
Type=Application
Categories=06-wireless-attacks;
X-Nix-Package=pixiewps
