[Desktop Entry]
Name=nbtscan
Comment=Scan networks for NetBIOS name information
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p nbtscan --command 'nbtscan -h; return'"
Icon=kali-nbtscan
StartupNotify=false
Terminal=false
Type=Application
Categories=01-10-smb-analysis;
X-Nix-Package=nbtscan
