[Desktop Entry]
Name=hash-identifier
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p hash-identifier --command 'hash-identifier; return'"
Icon=kali-hash-identifier
StartupNotify=false
Terminal=false
Type=Application
Categories=05-02-offline-attacks;
X-Nix-Package=hash-identifier
