[Desktop Entry]
Name=laudanum
Encoding=UTF-8
Exec=shell-rocket "if test -d /usr/share/laudanum --command 'then cd /usr/share/laudanum;$SHELL --command 'else echo \\"laudanum is not installed. I'm retrieving it for you...\\" --command 'sudo pacman -S laudanum --command 'cd /usr/share/laudanum; return'"
Icon=kali-laudanum
StartupNotify=false
Terminal=false
Type=Application
Categories=10-03-web-backdoors;
X-Nix-Package=laudanum
