[Desktop Entry]
Name=kismet
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p kismet --command 'kismet -h; return'"
Icon=kali-kismet
StartupNotify=false
Terminal=false
Type=Application
Categories=06-wireless-attacks;
X-Nix-Package=kismet
