[Desktop Entry]
Name=ffind
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p sleuthkit --command 'ffind; return'"
Icon=kali-ffind
StartupNotify=false
Terminal=false
Type=Application
Categories=11-08-forensic-suites;
X-Nix-Package=sleuthkit
