[Desktop Entry]
Name=wifite
Comment=Python script to automate wireless auditing using aircrack-ng tools
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p wifite --command 'wifite --help; return'"
Icon=kali-wifite
StartupNotify=false
Terminal=false
Type=Application
Categories=06-wireless-attacks;
X-Nix-Package=wifite
