[Desktop Entry]
Name=chntpw
Comment=Utility to overwrite passwords of Windows systems
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p chntpw --command 'chntpw -h; return'"
Icon=kali-chntpw
StartupNotify=false
Terminal=false
Type=Application
Categories=05-02-offline-attacks;
X-Nix-Package=chntpw
