[Desktop Entry]
Name=pdf-parser
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p pdf-parser --command 'pdf-parser -h; return'"
Icon=kali-pdf-parser
StartupNotify=false
Terminal=false
Type=Application
Categories=11-11-pdf-forensics-tools;
X-Nix-Package=pdf-parser
