[Desktop Entry]
Name=cisco-auditing-tool
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p cisco-auditing-tool --command 'cAT; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=06-01-cisco-attacks;02-01-cisco-tools;05-01-online-attacks;001-identify;
X-Nix-Package=cisco-auditing-tool
