[Desktop Entry]
Name=unhide
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p unhide --command 'sudo unhide; return'"
Icon=athenaos-blue-net
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics;004-respond;
X-Nix-Package=unhide
