[Desktop Entry]
Name=lbd
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p lbd --command 'lbd; return'"
Icon=kali-lbd
StartupNotify=false
Terminal=false
Type=Application
Categories=01-03-ids-ips-identification;
X-Nix-Package=lbd
