[Desktop Entry]
Name=jadx-gui
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p jadx --command 'nohup jadx-gui; return'"
Icon=kali-jadx
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-Nix-Package=jadx
StartupWMClass=jadx-gui-JadxGUI
