[Desktop Entry]
Name=onesixtyone
Comment=Fast and simple SNMP scanner
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p onesixtyone --command 'onesixtyone; return'"
Icon=kali-onesixtyone
StartupNotify=false
Terminal=false
Type=Application
Categories=01-12-snmp-analysis;05-01-online-attacks;
X-Nix-Package=onesixtyone
