[Desktop Entry]
Name=sbd
Encoding=UTF-8
Exec=shell-rocket -c "nix-shell -p sbd --command 'sbd -h; return'"
Icon=kali-sbd
StartupNotify=false
Terminal=false
Type=Application
Categories=10-01-os-backdoors;
X-Nix-Package=sbd
