[Desktop Entry]
Name=tsk_recover
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p sleuthkit --command 'tsk_recover; return'"
Icon=kali-tsk_recover
StartupNotify=false
Terminal=false
Type=Application
Categories=11-08-forensic-suites;
X-Nix-Package=sleuthkit
