[Desktop Entry]
Name=minicom
Comment=Friendly menu driven serial communication program
Encoding=UTF-8
Exec=shell-rocket "nix-shell -p minicom --command 'minicom -h; return'"
Icon=kali-minicom
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing;
X-Nix-Package=minicom