[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PayloadsAllTheThings
Comment=PayloadsAllTheThings
Icon=athena-commix
Exec=shell-rocket -b payloadsallthethings -d /usr/share/payloads/payloadsallthethings,/usr/share/payloadsallthethings
Terminal=false
Categories=Tags;Describing;Application;Utility
