[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PowerShell
Icon=powershell
Exec=shell-rocket 'pwsh'
Terminal=false
Categories=Tags;describing;application;utility