[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SecLists
Icon=kali-bettercap
Exec=shell-rocket -c "if test -d /run/current-system/sw/share/wordlists/seclists; then cd /run/current-system/sw/share/wordlists/seclists; else sudo sed -i 's/#seclists/seclists/g' /etc/nixos/hosts/software/default.nix; sudo nixos-rebuild switch; cd /run/current-system/sw/share/wordlists/seclists;fi"
Terminal=false
Categories=Tags;describing;application;utility