[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Security Wordlist
Icon=kali-golismero
Exec=shell-rocket "if test -d /run/current-system/sw/share/wordlists/Security-Wordlist; then cd /run/current-system/sw/share/wordlists/Security-Wordlist;$SHELL; else shell-rocket \"nix-shell -p security-wordlist --command 'cd /run/current-system/sw/share/wordlists/Security-Wordlist; return'\""
Terminal=false
Categories=Tags;describing;application;utility