[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Shell
Icon=shell
Exec=shell-rocket $TERMINAL
Terminal=false
Categories=Tags;describing;application;utility