[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Fish Shell
Comment=Fish Shell
Icon=shell
Exec=alacritty
Terminal=false
Categories=Tags --command 'describing --command 'application --command 'utility
