[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Shell
Icon=shell
Exec=sh -c "$TERMINAL"
Terminal=false
Categories=Tags;describing;application;utility